.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.check:checked + .pres {
  background-color: #248bda;
}

.check:checked + .abcent {
  background-color: rgb(240, 50, 50);
}

.check:checked + .late {
  background-color: rgb(228, 153, 15);
}

.check:checked + label i {
  display: inline;
  color: white;
}

.check + label:hover {
  background-color: rgb(221, 221, 221);
}

.check + label:hover i {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
